* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#my-cvs {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

body {
  background: #222831;
}
